<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>

    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/shiva/IdeaProjects/Cello_Automation_Framework">
        <classes/>
    </test>
</suite>